<div class="consent-popup px-2 py-3">
  <div class="container">
    <div class="mb-3">
      <small>
        To xomologisou συλλέγει cookies για την συνεχή βελτιστοποίηση των υπηρεσιών του. Ουδέποτε αποθηκεύεται
        κάποια πληροφορία που επιτρέπει την ταυτοποίηση ενός χρήστη στο xomologisou.
        Διαβάστε περαιτέρω στην <a href="/privacy" target="_blank">πολιτική απορρήτου</a> μας.
      </small>
    </div>
    <div class="text-right">
      <button class="btn btn-sm btn-primary" (click)="select.emit(true)">Αποδοχή</button>
      <button class="btn btn-sm btn-secondary" (click)="select.emit(false)">Απόρριψη</button>
    </div>
  </div>
</div>