<div class="container">
  <img src="/assets/ntua.png" alt="NTUA logo" class="p-4 w-100">

  <h3>
    Μπορει το NTUA Wanna Know? να έκλεισε...
  </h3>

  <img src="/assets/ntua-meme.jpg" alt="NTUA meme" class="p-4 w-100">

  <h4>
    Αλλα τα memes θα ζήσουν!
  </h4>

  <img src="/assets/ntua-meme2.jpg" alt="NTUA meme" class="p-4 w-100">

  <div>
    Ακολουθήστε τη Narya στο Facebook!
    <br />
    <a class="narya" href="https://www.facebook.com/narya.ntua.9" referrerpolicy="no-referer">
      <i class="fab fa-facebook-square"></i>
      Narya Ntua WK II
    </a>
  </div>

  <div class="p-4">
    Τους ευχαριστούμε για την άπειρη αγάπη που μας έδειξαν στα ένδοξα χρόνια λειτουργίας τους!
    <br />
    Η ομάδα του <a href="/"><img src="/assets/logo-sm.png" alt="xomologisou" width="24"></a>
  </div>
</div>
