@import "../variables";

.jumbotron {
  color: black;
  background: rgba(255, 255, 255, .6);
  margin-top: 15px;
  margin-bottom: 0;
  padding: 2rem 0;
}

.terms {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.container {
  max-width: $form-width;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: row;

  .container > * {
    color: black;
    margin: 15px 0;
  }

  .container {
    padding: 0;
    margin: 0;
  }
}

.dark {
  .jumbotron {
    color: white;
    background: rgba(.75, .75, .75, .75);
  }
  .card {
    border: none;
    color: white;
  }
  .card-header, .card-footer {
    color: white !important;
    background: #4b4b4b;
    border-bottom: none;
    border-top: none;
  }
  .card-body {
    background: #5f5f5f;
  }
}
