<app-homepage-navigation></app-homepage-navigation>
<div class="jumbotron jumbotron-fluid jumbotron-bg dark mb-4">
  <div class="container">
    <h3>Πολιτική απορρήτου</h3>
  </div>
</div>
<div class="container dark">
  <div class="lead">Ιδιοκτησία</div>
  <p>
    Όλα τα δεδομένα της πλατφόρμας (όπως μυστικά, ρυθμίσεις) είναι ιδιοκτησία του ender.gr.
  <div class="lead">Συλλογή δεδομένων</div>
  <p>
    Το xomologisou.gr συλλέγει από εσάς δεδομένα μόνο όταν στέλνετε μυστικά στις φόρμες
    των σελίδων - μελών και ποτέ όταν απλώς επισκέπτεστε τη σελίδα/φόρμα μας.
    Κάθε φορά που μας στέλνετε ένα μυστικό συλλέγουμε:
  <ul>
    <li>Το περιεχόμενο που εισάγετε στη φόρμα, τις επιλογές σας και την φωτογραφία που συμπεριλάβατε, αν υπάρχει,</li>
    <li>Την διεύθυνση IP σας,</li>
    <li>Το είδος της συσκευή σας (κινητό/υπολογιστής, μοντέλο) και</li>
    <li>Την ακριβή ώρα αποστολής του μυστικού</li>
  </ul>
  <p>
    Πέρα από το περιεχόμενο που εισάγετε στη φόρμα, τις επιλογές σας και την φωτογραφία που συμπεριλάβατε (αν υπάρχει),
    οι διαχειριστές των εκάστοτε φορμών ουδέποτε έχουν πρόσβαση στα υπόλοιπα στοιχεία σας.
  <p>
    Πλέων των δεδομένων που συλλέγουμε εμείς, οι υπηρεσίες που αξιοποιούμε,
    όπως το Google Analytics, το Google AdSense και το Google reCaptcha, υπόκεινται στην
    πολιτική δεδομένων της Google, που μπορείτε να βρείτε
    <a href="https://policies.google.com/privacy?hl=el-GR">εδώ</a>.
  <p>
    Σε περίπτωση που δεν συμφωνήσετε με την συλλογή cookies από μας, λαμβάνουμε κάθε μέτρο ώστε όλες οι
    υπηρεσίες που αξιοποιούμε να σεβαστούν την επιλογή σας.
  <p>
  <div class="lead">Αξιοποίηση δεδομένων</div>
  <p>
    Το xomologisou.gr, πέρα από την παροχή των μυστικών σας στους διαχειριστές της φόρμας, συλλέγει τα δεδομένα
    σας μονάχα για την παροχή στατιστικών στην ender.gr και στους εκάστοτε διαχειριστές των φορμών όσον αφορά την
    χρήση της.
  <p>
    Επιπλέον, η διαχείριση του xomologisou.gr συμμορφώνεται πάντα με την υποκείμενη νομοθεσία περί προστασίας προσωπικών
    δεδομένων, καθώς και τυχόν αιτημάτων της πολιτείας που αφορούν το περιεχόμενο μίας φόρμας/ενός μυστικού.
  <p>
    Είναι σημαντικό να σημειώσουμε πως λόγω μη δυνατότητας ταυτοποίησης σας, αδυνατούμε να σας παρέχουμε μυστικά
    τα οποία έχετε εισάγει σε κάποια φόρμα μας.
  <div class="lead">Αλλαγές σε αυτούς τους όρους</div>
  <p>
    Οι όροι αυτοί μπορούν να αλλάξουν ανά πάσα στιγμή, στην οποία περίπτωση θα σας ζητηθεί εκ νέου η αποδοχή των
    όρων της σελίδας.
  <p class="text-muted">
    Τελευταία ενημέρωση: 8/11/2020
</div>
<app-homepage-footer></app-homepage-footer>