<app-homepage-navigation></app-homepage-navigation>
<div class="jumbotron jumbotron-fluid jumbotron-bg dark">
  <div class="container">
    <h3>Ανήκετε σε σελίδα ανομολογήτων;</h3>
    <p class="lead mb-0">Οι φόρμες ανομολογήτων όπως πρέπει να είναι! Απλές, λιτές, και <span
      class="text-danger">απόρρητες</span>.</p>
  </div>
</div>
<div class="container">
  <div class="jumbotron jumbotron-bg mt-4 feature">
    <div class="row">
      <div class="col-md-8">
        <h3 class="display-6">Εύκολο προς τους χρήστες</h3>
        <p>
          Οι χρήστες σας θα έχουν ακριβώς την ίδια εμπειρία που έιχαν στο Google Forms!
          Η χρήση είναι εύκολη και χωρίς πολλα βήματα. Και πάνω απο όλα, ασφαλής.
        </p>
      </div>
      <div class="col-md-4">
        <img src="assets/form.png" class="w-100 rounded">
      </div>
    </div>
  </div>
  <div class="jumbotron jumbotron-bg mt-4 feature">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/approve.png" class="w-100 rounded">
      </div>
      <div class="col-md-8 text-right">
        <h3 class="display-6">Ακόμα πιο έυκολο για τους διαχειριστές</h3>
        <p>Οι χρήστες σας θα έχουν ακριβώς την ίδια εμπειρία που έιχαν στο Google Forms, οπότε δεν προστίθεται δυσκολία σε αυτούς. Η χρήση είναι εύκολη και χωρίς πολλα βήματα.</p>
      </div>
    </div>
  </div>
  <div class="jumbotron jumbotron-bg mt-4 feature">
    <div class="row">
      <div class="col-md-8">
        <h3 class="display-6">Ασφαλές και αξιόπιστο</h3>
        <p>Τα προσωπικά δεδομένα, τόσο των χρηστών, όσο και των διαχειριστών παραμένουν δικά τους. Δεν
          υπάρχουν ψιλά γράμματα ούτε κρυφοί όροι. Η ταυτότητα όλων παραμένει κρυφή.</p>
      </div>
      <div class="col-md-4">
        <img src="assets/safe.png" class="w-100 rounded">
      </div>
    </div>
  </div>
</div>
<app-homepage-footer></app-homepage-footer>
