name: Backend Docker image
on:
  push:
    branches:
      - main
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Authenticate Font Awesome
      run: |
        npm config set "@fortawesome:registry" https://npm.fontawesome.com/
        npm config set "//npm.fontawesome.com/:_authToken" ${{ secrets.FONTAWESOME_PRO_KEY }}
    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
    - uses: actions/cache@v2
      id: yarn-cache
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - uses: actions/cache@v2
      id: go-cache
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Build application
      run: make build
    - name: Login to GitHub Docker Registry
      run: |
        echo ${{ secrets.DOCKER_PASSWORD }} | docker login \
          -u github --password-stdin ${{ secrets.DOCKER_SERVER }}
    - name: Build the Docker image
      run: |
        docker build . --file Dockerfile \
          --tag ${{ secrets.DOCKER_SERVER }}/xomologisou/forms:latest
    - name: Publishes the image
      run: |
        docker push ${{ secrets.DOCKER_SERVER }}/xomologisou/forms:latest
